## **Question**

In [0]:
drop table if exists workspace.default.Employee;
drop table if exists workspace.default.Department;
CREATE TABLE workspace.default.Employee (
    id INT,
    name STRING,
    salary INT,
    departmentId INT
);
INSERT INTO workspace.default.Employee VALUES
    (1, 'Joe', 85000, 1),
    (2, 'Henry', 80000, 2),
    (3, 'Sam', 60000, 2),
    (4, 'Max', 90000, 1),
    (5, 'Janet', 69000, 1),
    (6, 'Randy', 85000, 1),
    (7, 'Will', 70000, 1);
CREATE TABLE workspace.default.Department (
    id INT,
    name STRING
);
INSERT INTO workspace.default.Department VALUES
    (1, 'IT'),
    (2, 'Sales');

In [0]:
-- Query1
select * from workspace.default.employee;
-- Query2
select  e.id as emp_id,e.name as emp_name,e.salary as emp_salary
        ,d.name as dept_name
from    workspace.default.employee e
        left join workspace.default.department d on e.departmentId = d.id;
-- Query3
select * except(max_salary_dept) from
(
select  d.name as dept_name,e.name as emp_name,e.salary as emp_salary
        ,max(salary) over(partition by departmentId) as max_salary_dept
from    workspace.default.employee e
        left join workspace.default.department d on e.departmentId = d.id
)t
where   emp_salary = max_salary_dept;

## **Question**

In [0]:
%python
def myFunc(x, *y):
    return type(y)
b = myFunc(1, 2, 3, 4, 5, 6, 7, 8)
print(b)